<table class="table">
 <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">imagen</th>
        <th scope="col">nombre</th>
        <th scope="col">precio</th>
        <th scope="col">descripcion</th>
        <th scope="col">categoria</th>
        <th scope="col">acciones</th>
    </tr>
 </thead>
 ><tbody>
    <tr *ngFor="let producto of coleccionProductos">
        <th scope="row">1</th>

        <td>
            <img src="{{producto.imagen}}" alt="{{producto.alt}}">
        </td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.categoria}}</td>
        
        <!--acciones-->
        <td>
            <button id="btn-edit" title="editar" type="button" class="btn btn-outline-warning"
             data-bs-toggle="modal" data-bs-target="editarProducto" (click)="mostrarEditar(producto)"> 
              <mat-icon>edit</mat-icon>
            </button>
        </td>
        <td>
            <button id="btn-delete" title="eliminar" type="button" class="btn btn-outline-danger"
              data-bs-toggle="modal" data-bs-target="eliminarProducto" (click)="mostrarBorrar(producto)">
              <mat-icon>delete</mat-icon>
            </button>
        </td>
    </tr>
 </tbody>
</table>

<!-- Button para agregar productos -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
   agregar un producto
  </button>
  <!--modal-->
  <div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">ingrese un nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!--cuerpo del modal-->
        <div [formGroup]="producto" class="modal-body">
         <div class="mb-3">
            <label class="form-label">ingrese nombre del producto</label>
            <input class="forma-control" type="text" formControlName="nombre"
              placeholder="...">
         </div>

         <div class="mb-3">
            <label class="form-label">ingrese precio del producto</label>
            <input class="forma-control" type="number" formControlName="precio" 
            placeholder="..."> 
         </div>

         <div class="mb-3">
          <label class="form-label">ingrese descripcion del producto</label>
          <input class="forma-control" type="text" formControlName="descripcion" 
          placeholder="..."> 
         </div>

         <div class="mb-3">
            <label class="form-label">seleccionar una categoria</label>
            <input class="forma-control" type="text" class="form-select" formControlName="categoria">
            <option selected>elija una opcion</option>
            <option value="pantalones">pantalones</option>
            <option value="bodies">bodies</option>
            <option value="vestidos">vestidos</option>
         </div>

         <div class="mb-3">
          <label class="form-label">ingrese una imagen</label>
          <input class="forma-control" type="text" formControlName="alt" placeholder="ingrese un texto alternativo">
         </div>
        
         <div class="mb-3">
            <label class="form-label">ingrese precio del producto</label>
            <input class="forma-control" type="text" formControlName="imagen" placeholder="ingrese vinculo de una imagen">
         </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
           (click)="agregarProducto()">Guardar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--modal para eliminar producto-->
  <!-- Modal -->
<div class="modal fade" *ngIf="modalVisibleProducto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">esta seguro de eliminar el producto?</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         {{productoSeleccionado.nombre}}

         <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
         <button type="button" class="btn btn-online-secondary" data-bs-dismiss="modal">cerrar</button>
       </div>
     </div>
   </div>
 </div>  

