<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="h5">Acerca de Nosotros</h5>
          <p class="p"> Información sobre la empresa, misión y visión.</p>
        </div>
        <div class="col">
          <h5>Redes Sociales</h5>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/?locale=es_LA"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://x.com/?lang=es"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/?hl=es"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <p class="p2"> 2024 Tu Empresa. Todos los derechos reservados.</p>
      </div>
    </div>
</footer>
