.footer {
    background-color: #7e001f; /* Color de fondo */
    padding: 20px 0; /* Espaciado superior e inferior */
}

.container {
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenido */
    color: aliceblue;
}
  
.row {
    display: flex; /* Usar flexbox para distribución */
    justify-content: space-between; /* Espacio entre columnas */
}
  
.col {
    flex: 1; /* Cada columna ocupa espacio igual */
    padding: 0 20px; /* Espaciado horizontal */
    color: white;
}
 
.footer ul {
    list-style: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
}
  
.footer ul li {
    margin-bottom: 10px; /* Espacio entre enlaces */
   
}

.social-icons {
    display: flex; /* Distribuir iconos horizontalmente */
    
}
  
.social-icons li {
    margin-right: 15px; /* Espacio entre iconos */
 
}
  
.text-center {
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Espacio superior */

}
.p{
    color: aliceblue;
}
.p2{
    color: aliceblue;
}
.h5{
    color: aliceblue;
}
.social-icons i {
    color: #fffefe;  /* Color negro por defecto */
    font-size: 24px;  /* Tamaño del icono */
    transition: color 0.3s ease; /* Transición suave cuando cambia el color */
}