.example-card {
    max-width: 300px; /* Limita el ancho de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta desbordamientos */
    transition: transform 0.2s; /* Transición suave al hover */
    margin: 16px; /* Ajusta el valor según sea necesario */
}

.example-card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 8px 20px rgb(180, 30, 143); /* Sombra más profunda al hover */
}

.titulo {
    font-weight: bold; /* Texto en negrita */
    color: #414141; /* Color del título */
}


.card-image {
    border-top-left-radius: 10px; /* Bordes redondeados en la parte superior */
    border-top-right-radius: 10px;
}
.descripcion {
    color: #e00f9a; /* Color del texto de descripción */
    font-size: 14px; /* Tamaño de fuente */
    line-height: 1.5; /* Espaciado entre líneas */
}
.button {
    background-color: #af4c9e; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    padding: 8px 16px; /* Espaciado interno */
    transition: background-color 0.3s, transform 0.3s; /* Efecto de transición */
}
.button:hover {
    background-color: #db82ab; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}
  
.button mat-icon {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}



 
  