<mat-toolbar class="hola">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="secciones">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #secciones="matMenu">
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>
  </mat-menu>

  <span>My App</span>

  <mat-menu #producto="matMenu">

      <button mat-menu-item routerLink="/topsdia">topsdia</button>
      <button mat-menu-item routerLink="/topsnoche">topsNoche</button>
      <button mat-menu-item routerLink="/pantalones">Parte de abajo</button>
      <button mat-menu-item routerLink="/camperas">camperas</button>
      <button mat-menu-item routerLink="/Productos">productos</button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item  (click)="iniciar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
    <button mat-menu-item  (click)="iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Inicio Sesion</button>
    <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesión</button>
  </mat-menu>

 
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
 
</mat-toolbar>
