<div class="container"> <!-- Contenedor principal que utiliza la clase "container"-->
    <div class="row">
       <!-- Título principal de la página, que se muestra como "Inicio" -->
        <h1>Inicio</h1>
        <div class="col">
            <div *ngFor="let i of info" class="contenido">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{i.nombre}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}" class="img-card">
                    <mat-card-content>
                      <p>
                       precio: {{i.precio}} $
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>                
            </div>
        </div>
    </div>
</div>